/* Background: */
$bgColorDark: #202020;
$bgColor: #303030;
$bgColorSemiLight: #505050;
$bgColorLight: #808080;

/* TextColor */
$lightText: #757575;
$darkText: #101010;

/* Fonts: */
$defaultFont: "Noto Serif";
$titlesFont: "roboto", sans-serif;

/* Extra Colors: */
$red: #E90313;
$darkRed: #cc0000;
$white: #eee;
$darkWhite: #ccc;
$green: #008000;
$darkGray: #474747;
$lightGray: #505050;