@import "assets/style/_variables.scss";

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @media screen and (min-width: 765px) {
    justify-content: space-between;
  }

}

.filterElement{
  background-color: $bgColorLight;
  border-radius: 5px;
  height: 40px;

  > *{
    padding: 10px;
    line-height: 20px;
  }

}